.p{
    margin: 20px 8px;
}
.p-img{
    width: 200px;
    object-fit: cover;
    transition: all 1s ease-in-out;
    margin-bottom: 5px;
} 
.p:hover .p-img {
    transform: scale(110%);
}
.p-title{
    font-size: 14px;
    font-weight: 700;
    margin: 0;
}



